/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background: url("/assets/PalNorte.jpg");

  position: relative;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgQuestionsTigres { 
  /* The image used */
  background: url("/assets/FondoCortado.png");


  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgQuestionsRayados { 
  /* The image used */
  background: url("/assets/Background.png");


  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.bgQuestionsResultado { 
  /* The image used */
  background: url("/assets/FondoCortado.png");


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}